h1{
  font: Raleway;
  text-transform: uppercase;
  color: #0e162e;
}
.btn-group .button{
       border: none; 
       color: white;
       padding: 15px 32px;
       text-align: center; 
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       cursor: pointer;
       background-color: #a5d6f2;
       float: right;
}
.btn-group .button:hover {
  background-color: #80bde0;
}
