h1{
  font-family : Didot;
  text-transform: uppercase;
  color: #1b51a1;
  margin-top: 20px;
}
.tab{
  margin-left: 40px;
}
p{
 font-size: 20px; 
}
a{
  font-size: 25px;
}
iframe{
  display: block;
  margin: auto;
}
